$color-button: #a9845c;
$color-link: #b14101;
$color-address: #ffd6a8;
$color-main: #3b3937;
$color-decoration: #dadada;
$color-range-bg: #f3f0ee;
$color-filter: #b1b0af;
$color-background: #ffffff;
$color-hover: #926341;
$mobile-width-only: 767px;
$tablet-width: 768px;
$medium-width: 991px;
$desktop-width: 1600px;

