<ul class="product product__list">
  <li class="product__item">
    <a class="product__link" href="card-door.html">
      <h3 class="product__title">Sofia Original 50.07</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-1@1x.avif 1x, door-1@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-1@1x.webp 1x, door-1@2x.webp 2x">
        <img class="product__image" src="images/doors/door-1@1x.png" srcset="images/doors/door-1@2x.png 2x" alt="Дверь София" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="card-door.html">купить</a>
    </div>
  </li>
  <li class="product__item">
    <a class="product__link" href="#">
      <h3 class="product__title">VISION Модель 64.43</h3>
      <b class="product__price product__price--reduction">24 500 ₽
        <span class="product__price--old">34 500 ₽</span>
      </b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-2@1x.avif 1x, door-2@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-2@1x.webp 1x, door-2@2x.webp 2x">
        <img class="product__image" src="images/doors/door-2@1x.png" srcset="images/doors/door-2@2x.png 2x" alt="Дверь визион" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item">
    <a class="product__link" href="#">
      <h3 class="product__title">VISION Модель 64.44</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-3@1x.avif 1x, door-3@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-3@1x.webp 1x, door-3@2x.webp 2x">
        <img class="product__image" src="images/doors/door-3@1x.png" srcset="images/doors/door-3@2x.png 2x" alt="Дверь визион" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item">
    <a class="product__link" href="#">
      <h3 class="product__title">SKYLINE Модель 55.21</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-4@1x.avif 1x, door-4@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-4@1x.webp 1x, door-4@2x.webp 2x">
        <img class="product__image" src="images/doors/door-4@1x.png" srcset="images/doors/door-4@2x.png 2x" alt="Дверь Скайлайн" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">SKYLINE Модель 55.23</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-5@1x.avif 1x, door-5@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-5@1x.webp 1x, door-5@2x.webp 2x">
        <img class="product__image" src="images/doors/door-5@1x.png" srcset="images/doors/door-5@2x.png 2x" alt="Дверь Скайлайн" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">CLASSIC Модель 65.44</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-6@1x.avif 1x, door-6@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-6@1x.webp 1x, door-6@2x.webp 2x">
        <img class="product__image" src="images/doors/door-6@1x.png" srcset="images/doors/door-6@2x.png 2x" alt="Дверь Классик" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">CLASSIC Модель 64.22</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-7@1x.avif 1x, door-7@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-7@1x.webp 1x, door-7@2x.webp 2x">
        <img class="product__image" src="images/doors/door-7@1x.png" srcset="images/doors/door-7@2x.png 2x" alt="Дверь Классик" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">METAMORFOSA Модель 65.171</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-8@1x.avif 1x, door-8@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-8@1x.webp 1x, door-8@2x.webp 2x">
        <img class="product__image" src="images/doors/door-8@1x.png" srcset="images/doors/door-8@2x.png 2x" alt="Дверь метаморфоза" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--tablet">
    <a class="product__link" href="#">
      <h3 class="product__title">VISION Модель 64.44</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-9@1x.avif 1x, door-9@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-9@1x.webp 1x, door-9@2x.webp 2x">
        <img class="product__image" src="images/doors/door-9@1x.png" srcset="images/doors/door-9@2x.png 2x" alt="Дверь Визион" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">SKYLINE Модель 55.23</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-5@1x.avif 1x, door-5@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-5@1x.webp 1x, door-5@2x.webp 2x">
        <img class="product__image" src="images/doors/door-5@1x.png" srcset="images/doors/door-5@2x.png 2x" alt="Дверь Скайлайн" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">CLASSIC Модель 65.44</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-6@1x.avif 1x, door-6@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-6@1x.webp 1x, door-6@2x.webp 2x">
        <img class="product__image" src="images/doors/door-6@1x.png" srcset="images/doors/door-6@2x.png 2x" alt="Дверь Классик" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">CLASSIC Модель 64.22</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-7@1x.avif 1x, door-7@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-7@1x.webp 1x, door-7@2x.webp 2x">
        <img class="product__image" src="images/doors/door-7@1x.png" srcset="images/doors/door-7@2x.png 2x" alt="Дверь Классик" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">METAMORFOSA Модель 65.171</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-8@1x.avif 1x, door-8@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-8@1x.webp 1x, door-8@2x.webp 2x">
        <img class="product__image" src="images/doors/door-8@1x.png" srcset="images/doors/door-8@2x.png 2x" alt="Дверь метаморфоза" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">METAMORFOSA Модель 65.171</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-8@1x.avif 1x, door-8@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-8@1x.webp 1x, door-8@2x.webp 2x">
        <img class="product__image" src="images/doors/door-8@1x.png" srcset="images/doors/door-8@2x.png 2x" alt="Дверь метаморфоза" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">METAMORFOSA Модель 65.171</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/doors/door-8@1x.avif 1x, door-8@2x.avif 2x">
        <source type="image/webp" srcset="images/doors/door-8@1x.webp 1x, door-8@2x.webp 2x">
        <img class="product__image" src="images/doors/door-8@1x.png" srcset="images/doors/door-8@2x.png 2x" alt="Дверь метаморфоза" width="240" height="240">
      </picture>
      </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
</ul>
