<ul class="product product__list">
  <li class="product__item">
    <a class="product__link" href="#">
      <h3 class="product__title">Диван прямой Дрезден</h3>
      <b class="product__price">39 990 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-1@1x.avif 1x, furniture-1@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-1@1x.webp 1x, furniture-1@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-1@1x.png"
          srcset="images/furniture/furniture-1@2x.png 2x" alt="Диван прямой Дрезден" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item">
    <a class="product__link" href="#">
      <h3 class="product__title">Кресло Манго розовый</h3>
      <b class="product__price product__price--reduction">24 990 ₽
        <span class="product__price--old">40 500 ₽</span>
      </b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-2@1x.avif 1x, furniture-2@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-2@1x.webp 1x, furniture-2@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-2@1x.png"
          srcset="images/furniture/furniture-2@2x.png 2x" alt="Кресло Манго" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item">
    <a class="product__link" href="#">
      <h3 class="product__title">Кресло Рон синий</h3>
      <b class="product__price">19 990 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-3@1x.avif 1x, furniture-3@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-3@1x.webp 1x, furniture-3@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-3@1x.png"
          srcset="images/furniture/furniture-3@2x.png 2x" alt="Кресло Рон" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item">
    <a class="product__link" href="#">
      <h3 class="product__title">Пуф-столик с ящиком Хюгге S рогожка бежевый</h3>
      <b class="product__price">6 490 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-4@1x.avif 1x, furniture-4@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-4@1x.webp 1x, furniture-4@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-4@1x.png"
          srcset="images/furniture/furniture-4@2x.png 2x" alt="Пуф-столик" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стол Clyde 110-168*75 бетон/белый</h3>
      <b class="product__price">10 990 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-5@1x.avif 1x, furniture-5@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-5@1x.webp 1x, furniture-5@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-5@1x.png"
          srcset="images/furniture/furniture-5@2x.png 2x" alt="Стол" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стол обеденный Дакота белый мрамор ножки хром</h3>
      <b class="product__price">17 990 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-6@1x.avif 1x, furniture-6@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-6@1x.webp 1x, furniture-6@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-6@1x.png"
          srcset="images/furniture/furniture-6@2x.png 2x" alt="Стол обеденный" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стул полубарный Матео с кантом велюр светло-серый</h3>
      <b class="product__price">9 090 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-7@1x.avif 1x, furniture-7@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-7@1x.webp 1x, furniture-7@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-7@1x.png"
          srcset="images/furniture/furniture-7@2x.png 2x" alt="Стул полубарный" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стол обеденный Ливерпуль белый мрамор</h3>
      <b class="product__price">24 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-8@1x.avif 1x, furniture-8@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-8@1x.webp 1x, furniture-8@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-8@1x.png"
          srcset="images/furniture/furniture-8@2x.png 2x" alt="Стол обеденный" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--tablet">
    <a class="product__link" href="#">
      <h3 class="product__title">Кресло TopChairs City</h3>
      <b class="product__price">11 990 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-9@1x.avif 1x, furniture-9@2x.avif 2x">
        <source type="image/webp" srcset="images/furniturefurniture-9@1x.webp 1x, furniture-9@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-9@1x.png"
          srcset="images/furniture/furniture-9@2x.png 2x" alt="Кресло" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стул Логан велюр пыльно-розовый</h3>
      <b class="product__price">6 990 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-10@1x.avif 1x, furniture-10@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-10@1x.webp 1x, furniture-10@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-10@1x.png"
          srcset="images/furniture/furniture-10@2x.png 2x" alt="Стул Логан" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Кресло офисное TopChairs</h3>
      <b class="product__price product__price--reduction">8 790 ₽
        <span class="product__price--old">34 500 ₽</span>
      </b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-11@1x.avif 1x, furniture-11@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-11@1x.webp 1x, furniture-11@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-11@1x.png"
          srcset="images/furniture/furniture-11@2x.png 2x" alt="Кресло офисное" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стул Style DSW</h3>
      <b class="product__price">1 990 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-12@1x.avif 1x, furniture-12@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-12@1x.webp 1x, furniture-12@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-12@1x.png"
          srcset="images/furniture/furniture-12@2x.png 2x" alt="Стул" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стул DSW бежевый</h3>
      <b class="product__price">2 500 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-13@1x.avif 1x, furniture-13@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-13@1x.webp 1x, furniture-13@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-13@1x.png"
          srcset="images/furniture/furniture-13@2x.png 2x" alt="Стул" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="#">
      <h3 class="product__title">Стул Oliver экокожа серый</h3>
      <b class="product__price">4 190 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-14@1x.avif 1x, furniture-14@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-14@1x.webp 1x, furniture-14@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-14@1x.png"
          srcset="images/furniture/furniture-14@2x.png 2x" alt="Стул" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
  <li class="product__item product__item--desktop">
    <a class="product__link" href="table-wald.html">
      <h3 class="product__title">Журнальный столик Вальд</h3>
      <b class="product__price">9 490 ₽</b>
      <picture class="product__picture">
        <source type="image/avif" srcset="images/furniture/furniture-15@1x.avif 1x, furniture-15@2x.avif 2x">
        <source type="image/webp" srcset="images/furniture/furniture-15@1x.webp 1x, furniture-15@2x.webp 2x">
        <img class="product__image" src="images/furniture/furniture-15@1x.png"
          srcset="images/furniture/furniture-15@2x.png 2x" alt="Журнальный столик" width="240" height="240">
      </picture>
    </a>
    <div class="product__wrapper">
      <ol class="product__slider-pagination slider-pagination">
        <li class="slider-pagination__item">
          <button class="slider-pagination__button slider-pagination__button--current" type="button">
            <span class="visually-hidden">1 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">2 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">3 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">4 фото</span>
          </button>
        </li>
        <li class="slider-pagination__item">
          <button class="slider-pagination__button" type="button">
            <span class="visually-hidden">5 фото</span>
          </button>
        </li>
      </ol>
      <a class="product__buy" href="#">купить</a>
    </div>
  </li>
</ul>
