<ol class="pagination">
  <li class="pagination__item">
    <a class="pagination__link pagination__link--current">1</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#">2</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#">3</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#">4</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#">5</a>
  </li>
  <li class="pagination__item pagination__item--desktop">
    <a class="pagination__link" href="#">6</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link pagination__link--next" href="#">...
      <span class="visually-hidden">Следующая страница.</span>
    </a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link pagination__link--last" href="#">23</a>
  </li>
</ol>
