.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  padding: 20px;
  background-color: $color-range-bg;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px;
  }
}

.message__text {
  @media (min-width: $medium-width) {
    max-width: 345px;
    margin-right: 100px;
  }
}

.message__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "PermianSerifTypeface", "Times New Roman", serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.01em;


  @media (min-width: $tablet-width) {
    font-size: 48px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 62px;
    margin-bottom: 30px;
  }
}

.message__description {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    margin-bottom: 60px;
  }
}

.message__form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.message__wrapper {

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.message__input {
  width: 100%;
  padding: 16px 18px 17px;
  margin-bottom: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: $color-main;
  background-color: $color-background;
  border: none;

  @media (min-width: $medium-width) {
    font-size: 18px;
    margin: 0;
    padding: 20px 23px 22px;
  }
}

.message__comment {
  width: 100%;
  padding: 16px 18px 17px;
  margin-bottom: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: $color-main;
  background-color: $color-background;
  border: none;

  @media (min-width: $medium-width) {
    font-size: 18px;
    margin: 0;
    padding: 20px 23px 22px;
  }

  @media (min-width: $medium-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.message__button {
  min-height: 50px;
  max-width: 320px;
  margin-top: 5px;
  padding: 15px 36px;

  @media (min-width: $tablet-width) {
    min-height: 60px;
  }
}
